@import url(mainCss.css);

header {
    width: 100%;
    height: 55px;
    background-color: var(--dark2);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 20px;
}

#open-setting {
    padding: 3px 40px;
    padding-top: 8px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

#open-setting:hover {
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
}

.book-chapters-menu {
    width: 40%;
    height: 100lvh;
    padding: 10px 0;
    background-color: var(--dark1);
    position: fixed;
    top: 55px;
    transition: .3s;
    right: -100%;
    direction: rtl;
    overflow-y: scroll !important;
    display: flex;
    flex-direction: column !important;
    align-items: center;
}

#menu-ul>li {
    width: 100%;
    font-family: roboto;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}

.chapter-title {
    height: 40px;
    background-color: var(--dark2);
    font-weight: bolder;
    line-height: 40px;
}

.chapter-section {
    height: 30px;
    background-color: var(--dark3);
    border-bottom: 1px solid var(--dark1);
}

.chapter-section:hover {
    background-color: var(--dark4);
}

.active {
    right: 0 !important;
}

main {
    width: 100%;
    background-color: var(--dark1);
    color: #fff;
    display: flex;
    margin-top: 55px;
    padding: 20px 0;
}

.change-page{
    width: 8%;
    background-color: var(--dark2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    cursor: pointer;
    transition: .2s;
}

.change-page:hover{
    opacity: .4;
}

#next-page{
    border-radius: 0 15px 15px 0;
}

#prevouse-page{
    border-radius: 15px 0 0 15px;
}

#book {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    line-height: 30px;
}

.footer-in-book {
    background-color: var(--dark2);
}

#page-editing-controls-modal {
    width: 80%;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--dark3);
    border-radius: 5px;
    box-shadow: 0 0 25px #282828,
        5px 5px 75px #252525;
    color: #fff;
    padding: 20px;
    transition: .4s;
}

#page-editing-controls-modal.show {
    top: 50%;
}

#modal-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#circles {
    display: flex;
    gap: 5px;
}

.circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.circle:first-child {
    background-color: red;
}

.circle:nth-child(2) {
    background-color: yellow;
}

.circle:last-child {
    background-color: green;
}

#controls {
    width: 100%;
}

.control{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}