@import "mainCss.css";

body{
    background: var(--dark2);
    color: #fff;
}
#banner{
    display: block;
    width: 80%;
    margin: calc(55px + 40px) auto 0 auto;
    padding: 100px 0; 
    box-sizing: border-box;
}

#content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    direction: rtl;
}
#content #mainInfo{
    flex: 2;
    margin-right: 20px;
    padding: 10px;
}
#content #mainInfo span {
    display: inline-block;
    padding: 5px;

}
#mainInfo .row {
    border-bottom: 1px solid #eee;
    padding: 5px;
}
#content #description{
    flex: 5;
}


#content #houseFlag{
    width: 95%;
    margin: 5px auto;

}

@media(max-width: 767px) {
    #content{
        font-size: 2px !important;
        flex-direction: column;
        align-items: center;
    }
    #mainInfo{
        margin-bottom: 50px;
    }
}