@import "nav-style.css";
@import "footer.css";
body{
    min-height: 100vh;
}
#houses{
    width: 90vw;
    margin : 100px auto;
    text-align: right;
}

#houses #housesList{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

#houses .house{
    /*background: #1c2f40;*/
    /*max-width: 400px;*/
    /*min-width: 250px;*/
    height: 400px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 5px #333;
    flex: 1;


}
#houses .house img{
    width: 50%;


}



#houses .house.stark{
    background: #9A9B96;
}
#houses .house.lannister{
    background: #FFD700
}
#houses .house.martell{
    background: #E98421;
}
#houses .house.targaryen{
    background: #101010;
}
#houses .house.arryn{
    background: #1087E1;
}
#houses .house.tully{
    background: #AE3434;
}
#houses .house.baratheon{
    background: #F2CD00;
}

@media (max-width: 1366px) {
    #houses .house{
        max-width: 300px;
        flex-basis: 300px;
    }
}
@media (max-width: 768px) {
    #houses .house{
        min-width: 400px;
        max-width: 400px;
        flex-basis: 400px;
    }
}