@import url(./mainCss.css);

header {
    width: 100%;
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    width: 80%;
    margin-top: 100px;
    color: #fff;
    direction: rtl;
    line-height: 80px;
}

#title>h1 {
    font-size: 2.5em !important;
}

#title>h2 {
    font-size: 2em !important;
}

#scroll-to-main {
    padding: 30px 0;
}

main {
    width: 80%;
    margin: 60px auto 0 auto;
}

.slider-title {
    direction: rtl;
    margin: 10px;
}

.swiper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    background: var(--dark6);
    border-radius: 5px;
    padding-bottom: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#char-profile {
    width: 100%;
    border-radius: 0 0 20px 20px;
    object-fit: contain;
    filter: brightness(60%);
    transition: .4s;
    cursor: pointer;
}

#char-profile:hover {
    filter: brightness(100%);
}

#char-name {
    font-size: 1.6rem !important;
}

#actions {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#actions>i {
    color: red;
    font-size: 1.8rem !important;
    cursor: pointer;
    position: relative;
}

#see-more-about-char {
    height: 25px;
    width: 60%;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--blue);
    color: var(--blue);
    text-align: center;
    line-height: 30px;
    transition: .2s;
    padding: 3px;
}

#see-more-about-char:hover {
    background-color: var(--blue);
    color: #fff;
}