@import "mainCss.css";

main {
    width: 100%;
    margin-top: 55px;
}

#char-profile {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 0 0 25px 25px;
    position: relative;
    display: flex;
    justify-content: center;
}

#char-profile>img {
    width: 100%;
    object-fit: cover;
    filter: brightness(80%);
    transition: .2s;
    cursor: pointer;
}

#char-profile>img:hover {
    filter: brightness(100%);
}

#controls {
    width: 100%;
    padding: 10px 25px;
    color: #fff !important;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, #000, transparent);
}

#actions>i {
    padding: 0 10px;
    font-size: 1.3em !important;
    cursor: pointer;
}

#char-name {
    direction: rtl;
    width: 100%;
    text-align: center;
    font-size: 1.6em !important;
    font-weight: bolder;
    margin: 25px 0;
}

#char-name>span {
    font-size: 1.6em !important;
    padding: 0 20px;
    text-transform: capitalize;
}

#char-name>span:last-child {
    color: var(--blue2);
}

#char-name>span:first-child {
    color: var(--blue);
}

#char-info{
    width: 100%;
    direction: rtl;
    padding: 0 20px;
    display: flex;
}

#info-title{
    background-color: var(--blue2);
    color: #fff;
}
#info-title>li{
    padding: 10px 15px;
    border-bottom: 1px solid var(--blue);
}

#info{
    width: 100%;
}

#info>li{
    padding: 10px 15px;
    border-bottom: 1px solid var(--blue);
}

#info>li:nth-child(odd){
    background-color: var(--dark6);
}

/* #banner{
    display: block;
    width: 80%;
    margin: calc(55px + 40px) auto 0 auto;
    padding: 100px 0; 
    box-sizing: border-box;
}

#content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    direction: rtl;
}
#content #mainInfo{
    flex: 2;
    margin-right: 20px;
    padding: 10px;
}
#content #mainInfo span {
    display: inline-block;
    padding: 5px;

}
#mainInfo .row {
    border-bottom: 1px solid #eee;
    padding: 5px;
}
#content #description{
    flex: 5;
}


#content #houseFlag{
    width: 95%;
    margin: 5px auto;

}

@media(max-width: 767px) {
    #content{
        font-size: 2px !important;
        flex-direction: column;
        align-items: center;
    }
    #mainInfo{
        margin-bottom: 50px;
    }
} */