@import "mainCss.css";

main {
    width: 100%;
    margin-top: 55px;
}

#char-profile {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 0 0 25px 25px;
    position: relative;
    display: flex;
    justify-content: center;
}

#profile{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 25%;
    filter: brightness(20%);
    transition: .2s;
    cursor: pointer;
}

#profile:hover {
    filter: brightness(100%);
}

#controls {
    width: 100%;
    padding: 10px 25px;
    color: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, #000, transparent);
}

#actions>i {
    padding: 0 10px;
    font-size: 1.3em;
    cursor: pointer;
}

#char-name {
    direction: rtl;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
    margin: 25px 0;
}

#char-name>span {
    font-size: 1.6em;
    padding: 0 20px;
    text-transform: capitalize;
}

#char-name>span:last-child {
    color: var(--blue2);
}

#char-name>span:first-child {
    color: var(--blue);
}

#char-info{
    width: 100%;
    direction: rtl;
    padding: 0 20px;
    display: flex;
}

#info-title{
    background-color: var(--blue2);
    color: #fff;
}
#info-title>li{
    padding: 10px 15px;
    border-bottom: 1px solid var(--blue);
}

#info{
    width: 100%;
}

#info>li{
    padding: 10px 15px;
    border-bottom: 1px solid var(--blue);
}

#info>li:nth-child(odd){
    background-color: var(--dark6);
}

#char-description{
    direction: rtl;
    width: 90%;
    margin: 50px auto;
    line-height: 35px;
}

#char-description>h1{
    font-size: 1.4em;
    padding-bottom: 5px;
}