@font-face {
    font-family: yekan;
    src: url(../fonts/Yekan\ Bakh\ Regular.ttf);

}

@font-face {
    font-family: iranSans;
    src: url(../fonts/iran\ sans.ttf);
}

@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir-Medium.ttf);
}

@font-face {
    font-family: estedad;
    src: url(../fonts/Estedad-Bold.ttf);
}

:root {
    --color-text: #a8abe1c2;
    --dark1: #262626;
    --dark2: #353535;
    --dark3: #555;
    --dark4: #666;
    --dark5: #888;
    --dark6: #c6c6c6;
    --blue: #1c2f40;
    --blue2: #00437ed7;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: yekan;
    list-style: none;
    font-size: calc(15px + 0.390625vw);
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}
button,input{
    font-size: calc(15px + 0.390625vw) !important;
}

#menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    background-color: var(--dark1);
    min-height: 55px;
    z-index: 99;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    min-height: 55px;
    padding: 0 20px;
}

#menu>h1 {
    font-family: minion;
}

#menu>nav>i {
    display: none;
    cursor: pointer;
}

#menu-ul {
    display: flex;
    flex-direction: row-reverse;
}

#menu-ul>li {
    position: relative;
    height: 30px;
    width: 5em;
    text-align: center;
    transition-duration: .3s;
    cursor: pointer;
}

#menu-ul>li::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: .8em;
    width: 0;
    height: 2px;
    background-color: var(--blue2);
    transition: .3s;
}

#menu-ul>li:hover::after{
    width: 75%;
}

@media(max-width:768px) {
    #menu {
        width: 100%;
    }

    #menu>nav>ul {
        position: fixed;
        right: -100%;
        top: 50px;
        transition: .5s;
        flex-direction: column;
        align-items: center;
        background-color: var(--dark1);
        width: 40%;
        padding: 20px;
        border-radius: 0 0 0 5px;
    }

    #menu>nav>i {
        display: block !important;
    }
}

.active {
    right: 0 !important;
}

footer {
    width: 100%;
    background-color: var(--dark2);
    direction: rtl;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.footer-list-container {
    width: 30%;
    padding: 0 20px;
}

.footer-list>h2 {
    letter-spacing: 2.5px;
}

.footer-list>h2::after {
    content: '';
    width: 10%;
    height: 3px;
    background-color: var(--blue2);
    display: block;
    margin: 7px 0;
}

.footer-list>li {
    padding: 7px 0;
    padding-right: 15px;
    transition: .2s;
}

.footer-list>li>a>i {
    padding-left: 15px !important;
}

.footer-list>li:hover {
    transform: translateY(-3px);
}

#about {
    width: 30%;
    margin-top: 5px;
}

#about>p {
    text-align: justify;
    line-height: 25px;
}

#socials {
    margin-top: 20px;
    display: flex;
}

.social {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-color: var(--dark3);
    margin: 5px;
    transition: .3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social>a>i {
    transform: translateY(3px);
    font-size: 1.8em;
}

.social:hover {
    background-color: var(--dark2);
}

@media(max-width:768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-list-container {
        width: 80%;
        margin-bottom: 20px;
    }

    #about {
        width: 80%;
    }
}

html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}

[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
}

.ca3-scroll-down-link {
    cursor: pointer;
    height: 60px;
    width: 80px;
    color: #FFF;
    font-size: 2em;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes ca3_fade_move_down {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}

@-moz-keyframes ca3_fade_move_down {
    0% {
        -moz-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0, 20px);
        opacity: 0;
    }
}

@keyframes ca3_fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}

#search-container {
    margin-top: 40px;
    width: 80%;
}

#search-box {
    position: relative;
}

#search {
    width: 100%;
    height: 40px;
    direction: rtl;
    border-radius: 10px;
    padding: 5px 15px 5px 0;
}

#search-box>i {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 1.4em;
}

#search-suggestion {
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 20px var(--dark1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    z-index: 99;
    position: absolute;
    transform: scaleY(0);
}

.suggest-item {
    padding: 5px;
    background-color: var(--dark6);
    cursor: pointer;
}

.suggest-item:nth-child(even) {
    background-color: transparent;
}

.show-list {
    transition: .3s;
    transform: scaleY(1) !important;
}