@font-face {
    font-family: yekan;
    src: url(../fonts/Yekan.ttf);

}

@font-face {
    font-family: minion;
    src: url(../fonts/Minion\ Variable\ Concept.otf);

}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Bold.ttf);
}

:root {
    --color-text: #a8abe1c2;
    --dark1: #262626;
    --dark2: #353535;
    --dark3: #555;
    --dark4: #666;
    --dark5: #888;
    --dark6: #c6c6c6;
    --blue: #1c2f40;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: yekan;
    list-style: none;
    font-size: calc(15px + 0.390625vw) !important;
    box-sizing: border-box;
}

a {
    all: unset;
    cursor: pointer;
}

#menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: var(--dark1);
    min-height: 55px;
    z-index: 99;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    min-height: 55px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 20px;
}

#menu>h1 {
    font-family: minion;
}

#menu>nav {
    display: inline-flex;
}

#menu>nav>i {
    display: none;
    cursor: pointer;
}

#menu>nav>ul {
    display: flex;
    gap: 20px;
}


#menu>nav>ul>li {
    height: 30px;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    transition-duration: .3s;
    cursor: pointer;
}

#menu>nav>ul>li:hover {
    color: var(--color-text);
}

@media(max-width:768px) {
    #menu {
        width: 100%;
    }

    #menu>nav>ul {
        position: fixed;
        right: -100%;
        top: 50px;
        transition: .5s;
        flex-direction: column-reverse;
        align-items: center;
        background-color: var(--dark1);
        width: 40%;
        padding: 20px;
        border-radius: 0 0 0 5px;
    }

    #menu>nav>i {
        display: block !important;
    }
}

.active {
    right: 0 !important;
}

footer {
    width: 100%;
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff !important;
    font-family: yekan;
}

#lists {
    direction: rtl;
    width: 80%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

#lists>ul>li {
    cursor: pointer;
    margin-right: 15px;
}

#lists>ul>li:first-child {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem !important;
}

#lists>ul:last-child>li:last-child {
    font-family: roboto;
}

#lists>ul:last-child>li:nth-last-child(2) {
    font-family: roboto;
}

#lists>ul>li>a>i {
    padding-left: 15px;
}

footer>p {
    text-align: center;
    font-family: roboto;
}

@media(max-width: 400px) {
    #lists {
        flex-direction: column-reverse;
    }

    #lists>ul {
        margin: 10px 0;
    }
}