@font-face {
    font-family: yekan;
    src: url(../fonts/Yekan.ttf);

}

@font-face {
    font-family: minion;
    src: url(../fonts/Minion\ Variable\ Concept.otf);
}

:root {
    --color-text: #4edfb4c2;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: yekan;
    font-size: calc(15px + 0.390625vw) !important;
    box-sizing: border-box;
}

nav {
    width: 100%;
    display: flex;
    direction: rtl;
    background: linear-gradient(180deg, #000, #00000000);
}

nav>h3 {
    margin: 0 15px;
    cursor: pointer;
    transition-duration: .2s;
}

nav>h3:hover {
    color: var(--color-text);
}

@media screen and (max-width: 480px) {
    h3{
        color: aqua;
        font-size: 1px !important;
    }
  }