nav {
    width: 100%;
    display: flex;
    direction: rtl;
    background: linear-gradient(180deg, #000, #00000000);
}

nav>h3 {
    margin: 0 15px;
    cursor: pointer;
    transition-duration: .2s;
}

nav>h3:hover {
    color: var(--color-text);
}