@import "nav.css";
main {
    width: 100%;
    color: #fff;
}

#background{
    position: absolute;
    width: 100%;
    height: 90vh;
    z-index: -1;
}

#title {
    margin-top: 60px;
    margin-left: 5%;
}

#title>img{
    width: 60%;
}

#search-box {
    margin: 20vh auto 0 auto;
    width: 45%;
}

#search-box>input {
    direction: rtl;
    width: 100%;
    height: 50px;
    padding: 20px;
    border-radius: 50px;
    font-size: larger;
}

#search-box>button {
    width: 50px;
    height: 50px;
    background-color: #4edfb4c2;
    position: absolute;
    border-radius: 50px;
    cursor: pointer;
}

#transparent{
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, transparent, #000 50%, transparent);
}