@import "nav-style.css";

header {
    min-height: 100vh;
    width: 100%;
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#title {
    color: #fff;
    font-family: minion;
    font-weight: bolder;
}

#title>p:first-child {
    font-size: calc(50px + 0.390625vw) !important;
}

#title>p:last-child {
    font-size: calc(30px + 0.390625vw) !important;
}

#center-of-head {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: calc(55px + 40px) 0 40px 0;
}

#center-of-head>img {
    width: 35%;
}

@media(max-width: 1100px) {
    #center-of-head {
        justify-content: center;
    }

    #center-of-head>img {
        width: 100%;
    }
}

#search-box {
    width: 80%;
}

#search-box>input {
    direction: rtl;
    width: 100%;
    height: 50px;
    padding: 20px;
    border-radius: 50px;
    font-size: larger;
}

#search-box>button {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    padding-top: 2px;
}

@media(max-width:768px) {
    #search-box>input {
        font-size: .8rem !important;
    }
}

#scroll-to-main {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}

[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
}

.ca3-scroll-down-link {
    cursor: pointer;
    height: 60px;
    width: 80px;
    color: #FFF;
    font-size: 70px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}

@-webkit-keyframes ca3_fade_move_down {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}

@-moz-keyframes ca3_fade_move_down {
    0% {
        -moz-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0, 20px);
        opacity: 0;
    }
}

@keyframes ca3_fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}

main {
    width: 80%;
    margin: 60px auto 0 auto;
}

.slider-title {
    direction: rtl;
    margin: 10px;
}

.swiper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    background: var(--dark6);
    border-radius: 5px;
    padding: 10px 20px 20px 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#char-profile {
    width: 80%;
}

#char-name {
    font-size: 1.4rem !important;
    font-weight: bolder;
}

.swiper-slide #see-more-about-char,
#char-name {
    font-family: roboto !important;
}

#actions {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#actions>i {
    color: red;
    font-size: 1.5rem !important;
    cursor: pointer;
}

#see-more-about-char {
    width: 60%;
    background-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    border: 3px solid var(--blue);
    color: var(--blue);
    transition: .2s;
    padding: 3px;
}

#see-more-about-char:hover {
    background-color: var(--blue);
    color: #fff;
}

@media(max-width: 640px) {
    .swiper {
        height: 350px;
    }

    #char-profile {
        width: 40%;
    }

    #actions {
        width: 50%;
    }
}

@media(max-width: 600px) {

    #char-profile {
        width: 60%;
    }

}


/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */